{% extends '/service_professional/layout.html' %}

{% block title %}Review service professional Page{% endblock %}

{% block content %}

<style>
  .custom-card-content {
    line-height: 1.5 !important;
    max-width: 100% !important;
    max-height: 100% !important;
    white-space: pre-wrap !important;
    word-break: keep-all !important;
    text-overflow: ellipsis !important;
    overflow: hidden !important;
    margin-bottom: 4px !important;
    min-height: 16px !important;
    display: -webkit-box !important;
    -webkit-line-clamp: 3 !important;
    -webkit-box-orient: vertical !important;
}
</style>



<div class="modal fade" id="modal-review" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="modal-review" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg modal-dialog-scrollable">
    <div class="modal-content shadow-lg border-0">
      <div class="modal-header bg-light border-0">
        <h1 class="modal-title fs-5 text-primary" id="modal-review">
          <i class="bi bi-star-fill"></i> Review
        </h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body p-4">
        <div class="card w-100" style="width: 18rem;">
          <div class="card-body">
            <div class="d-flex flex-column gap-2">
              <h5 class="card-title" id="customer-username">
              </h5>
              <h6 class="card-subtitle mb-1 text-body-secondary" id="review-created-at"></h6>
            </div>
            <p class="card-text" id="review-comments"></p>
          </div>
        </div>
      </div>
      <div class="modal-footer border-0">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>






<div class="app-content"> <!--begin::Container-->
    <div class="container-fluid"> <!-- Timelime example  -->
        <div class="row">
            <div class="col-12"> <!-- The icons -->
                <div class="col-12">
                    <div class="card card-primary card-outline">
                        <div class="card-header">
                          <div class="d-flex justify-content-between w-100">
                            <div class="input-group w-25 input-group-sm">
                            </div>
                          </div>
                        </div>
                        <div class="card-body">
                            <div class="card-body">
                              <div class="row row-gap-4" id="card-review">
                                <div class="col-lg-3 col-6">
                                  <div class="card">
                                    <div class="card-body">
                                      <div class="d-flex flex-column" style="height: 100px;">
                                        <h5 class="card-title mb-1">Card title</h5>
                                        <p class="card-text custom-card-content">Some quick example Lorem ipsum</p>
                                      </div>
                                      <div class="d-flex flex-row justify-content-between mt-2">
                                        <a href="#" class="card-link">Detail</a>
                                        <div>                                          
                                          <i class="bi bi-star-fill"></i>
                                          <i class="bi bi-star-fill"></i>
                                          <i class="bi bi-star"></i>
                                          <i class="bi bi-star"></i>
                                          <i class="bi bi-star"></i>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div> <!-- /.card-body -->
                            <div class="card-footer clearfix">
                              <nav aria-label="..." id="main-pagination">
                                <ul class="pagination pagination-sm m-0 float-end">
                                  <li class="page-item disabled">
                                    <a class="page-link">Previous</a>
                                  </li>
                                  <li class="page-item"><a class="page-link" href="#">1</a></li>
                                  <li class="page-item active" aria-current="page">
                                    <a class="page-link" href="#">2</a>
                                  </li>
                                  <li class="page-item"><a class="page-link" href="#">3</a></li>
                                  <li class="page-item">
                                    <a class="page-link" href="#">Next</a>
                                  </li>
                                </ul>
                              </nav>
                          </div>
                        </div>
                    </div>
                </div>
            </div> <!-- /.col -->
        </div> <!-- /.row -->
    </div> <!--end::Container-->
  <script>


    function openReviewModal(service_request_id) {
      $.ajax({
          url: `/api/review-sp/review/${service_request_id}`,
          type: 'GET',
          success: function (data) {
            console.log(data);
              if (data && data.data) {
                  const review = data.data;
                  // Mengisi data review ke dalam modal
                  $('#customer-username').text(review.customer_username);
                  $('#professional-username').text(review.professional_username);
                  $('#review-rating').text(review.rating);
                  $('#review-comments').text(review.comments);
                  $('#review-created-at').text(new Date(review.created_at).toLocaleString());
  
                  // Menampilkan modal
                  $('#modal-review').modal('show');
              } else {
                  alert('Review data not found.');
              }
          },
          error: function (xhr, status, error) {
              console.error('Error:', error);
              alert('An error occurred while fetching the review data.');
          }
      });
  }
  
  

      function generateStars(rating) {
        let stars = '';
        for (let i = 1; i <= 5; i++) {
            if (i <= rating) {
                stars += '<i class="bi bi-star-fill"></i>';
            } else {
                stars += '<i class="bi bi-star"></i>';
            }
        }
        return stars;
    }

      function createTable(data, currentPage, perPage) {
        const mainReview = $('#card-review');
        mainReview.empty();  // Clear the previous reviews
    
        data.forEach(review => {
            // Create a card for each review
            const reviewCard = `
                  <div class="col-lg-3 col-6">
                      <div class="card">
                          <div class="card-body">
                              <div class="d-flex flex-column" style="height: 100px;">
                                  <h5 class="card-title mb-1">${review.customer_username}</h5>
                                  <p class="card-text custom-card-content">${review.comments}</p>
                              </div>
                              <div class="d-flex flex-row justify-content-between mt-2">
                                  <a href="#" onclick="openReviewModal(${review.service_request_id})" class="card-link">Detail</a>
                                  <div>
                                      ${generateStars(review.rating)}
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
            `;
            mainReview.append(reviewCard);
        });
    }
    
      
      

      function createPaggination(totalPages, currentPage, totalData) {
        const paginationContainer = $('#main-pagination ul');
        paginationContainer.empty();
      
        const prevDisabled = currentPage === 1 ? 'disabled' : '';
        const prevPage = currentPage > 1 ? currentPage - 1 : 1;
        paginationContainer.append(`
          <li class="page-item ${prevDisabled}">
            <a class="page-link" href="#" onclick="loadDataTable(${prevPage})">Previous</a>
          </li>
        `);
      
        const firstPageActive = currentPage === 1 ? 'active' : '';
        paginationContainer.append(`
          <li class="page-item ${firstPageActive}">
            <a class="page-link" href="#" onclick="loadDataTable(1)">1</a>
          </li>
        `);
      
        if (currentPage > 3) {
          paginationContainer.append(`
            <li class="page-item disabled">
              <a class="page-link">...</a>
            </li>
          `);
        }
      
        const startPage = Math.max(2, currentPage - 1);
        const endPage = Math.min(totalPages - 1, currentPage + 1);
      
        for (let i = startPage; i <= endPage; i++) {
          const activeClass = i === currentPage ? 'active' : '';
          paginationContainer.append(`
            <li class="page-item ${activeClass}">
              <a class="page-link" href="#" onclick="loadDataTable(${i})">${i}</a>
            </li>
          `);
        }
      
        if (currentPage < totalPages - 2) {
          paginationContainer.append(`
            <li class="page-item disabled">
              <a class="page-link">...</a>
            </li>
          `);
        }
      
        if (totalPages > 1) {
          const lastPageActive = currentPage === totalPages ? 'active' : '';
          paginationContainer.append(`
            <li class="page-item ${lastPageActive}">
              <a class="page-link" href="#" onclick="loadDataTable(${totalPages})">${totalPages}</a>
            </li>
          `);
        }
      
        const nextDisabled = currentPage === totalPages ? 'disabled' : '';
        const nextPage = currentPage < totalPages ? currentPage + 1 : totalPages;
        paginationContainer.append(`
          <li class="page-item ${nextDisabled}">
            <a class="page-link" href="#" onclick="loadDataTable(${nextPage})">Next</a>
          </li>
        `);
      }

      
      
      function loadDataTable(page) {

        const perPage = 5;
        
        $.ajax({
          url: '/api/review-sp/1?page=' + page,
          method: 'GET',
          dataType: 'json',
          success: function (data) {
            createTable(data.data, page, perPage);
            createPaggination(data.total_pages, page, data.total_data);
          },
          error: function () {
          }
        })
      };
      
      loadDataTable(1);
    </script>
{% endblock %}