<!-- app/templates/test.html -->
{% extends 'layout.html' %}

{% block title %}
  Home Page
{% endblock %}

{% block content %}

<div class="modal fade" id="modal-professional" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="modal-professional" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content shadow-lg border-0">
      <div class="modal-header bg-primary text-white">
        <h5 class="modal-title" id="modal-professional">Service Professional</h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body p-4">
        <div class="row mb-3">
          <div class="col">
            <h6>Name: <span id="professional-username" class="fw-bold"></span></h6>
            <h6>Service: <span id="professional-service" class="fw-bold"></span></h6>
            <h6>Rating: <span id="professional-rating" class="fw-bold"></span></h6>
          </div>
          <div class="col text-end">
            <h6>Verified: <span id="professional-verified" class="fw-bold"></span></h6>
          </div>
        </div>
        <div class="mb-3">
          <h6>Description:</h6>
          <p id="professional-description"></p>
        </div>
        <div>
          <h6>Reviews</h6>
          <div id="reviews-container" class="border p-2 rounded">
            <!-- Reviews will be dynamically added here -->
          </div>
        </div>
        <div class="d-flex justify-content-center mt-4">
          <nav aria-label="Pagination" id="main-pagination-detail">
            <ul class="pagination pagination-sm m-0">
              <li class="page-item disabled">
                <a class="page-link" id="prev-page">Previous</a>
              </li>
              <li class="page-item">
                <a class="page-link" id="next-page">Next</a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
      <div class="modal-footer border-0">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>




  <div class="container my-4">
    <!-- Services Activity Section -->
    <div class="mb-4">
      <h5>Services Activity</h5>
      <div class="list-group">
        <div class="list-group-item list-group-item-action">Service 1</div>
        <div class="list-group-item list-group-item-action">Service 2</div>
        <div class="list-group-item list-group-item-action">Service 3</div>
        <div class="list-group-item list-group-item-action">Service 4</div>
      </div>
    </div>

    <!-- Search and History Buttons -->
    <div class="d-flex justify-content-center mb-4">
      <button href="{{ url_for('pages.home') }}" class="btn btn-outline-secondary mx-2 {% if request.path == '/home' %}active{% endif %}">Search Services</button>
      <button class="btn btn-outline-secondary mx-2">History Services</button>
    </div>

    <!-- Search Input -->
    <div class="input-group mb-4">
      <input type="text" class="form-control" placeholder="Cari service" />
      <button class="btn btn-outline-secondary" type="button">Search</button>
    </div>

    <!-- Service Cards Grid -->
    <div class="row row-cols-1 row-cols-md-3 g-4" id="card-service-professional">
      <div class="col-lg-3 col-6">
        <div class="card">
          <div class="card-body">
            <div class="d-flex flex-column" style="height: 100px;">
              <h5 class="card-title mb-1">Test ngokk</h5>
              <p class="card-subtitle">Test nggggg</p>
              <p class="card-text custom-card-content">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Esse quam sit reprehenderit, suscipit recusandae ad corporis et error repellat nulla quo velit incidunt repellendus, maiores quaerat quisquam modi! Corporis nesciunt aut voluptatem ad. Voluptatum, vero id consequuntur doloribus nihil similique exercitationem nesciunt, aut neque quia mollitia.</p>
            </div>
            <div class="d-flex flex-row justify-content-between mt-2">
              <a href="#" onclick="" class="card-link">Detail</a>
              <div>
                <i class="bi bi-star"></i>
                <i class="bi bi-star"></i>
                <i class="bi bi-star"></i>
                <i class="bi bi-star"></i>
                <i class="bi bi-star"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Pagination -->
    <div class="d-flex justify-content-center mt-4">
      <nav aria-label="..." id="main-pagination">
        <ul class="pagination pagination-sm m-0 float-end">
          <li class="page-item disabled">
            <a class="page-link">Previous</a>
          </li>
          <li class="page-item"><a class="page-link" href="#">1</a></li>
          <li class="page-item active" aria-current="page">
            <a class="page-link" href="#">2</a>
          </li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item">
            <a class="page-link" href="#">Next</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>

  <script>


    function openReviewModal(service_request_id) {
      $.ajax({
          url: `/api/service-professionals-customer/${service_request_id}`,
          type: 'GET',
          success: function (data) {
            console.log(data.username);
            $('#professional-username').text(data.username);
            $('#professional-service').text(data.service);
            $('#professional-rating').text(calculateAverageRating(data.reviews));
            $('#professional-description').text(data.description);
            $('#professional-verified').text(data.verified_status ? 'Yes' : 'No');
    
            // Clear previous reviews
            $('#reviews-container').empty();
    
            // Add reviews to the modal
            data.reviews.forEach(function(review) {
              $('#reviews-container').append(`
                <div class="row">
                  <div class="col">
                    <div class="row">Customer: ${review.customer_username}</div>
                    <div class="row">Rating: ${review.rating}</div>
                    <div class="row">Comment: ${review.comments}</div>
                    <div class="row">Date: ${new Date(review.created_at).toLocaleDateString()}</div>
                  </div>
                </div>
              `);
            });
    
            $('#modal-professional').modal('show');
          },
          error: function (xhr, status, error) {
              console.error('Error:', error);
              alert('An error occurred while fetching the review data.');
          }
      });
    }
    
    function calculateAverageRating(reviews) {
      if (reviews.length === 0) return 'No ratings';
      let sum = 0;
      reviews.forEach(review => sum += review.rating);
      return (sum / reviews.length).toFixed(1);
    }
    
    

    function generateStars(rating) {
      let stars = '';
      for (let i = 1; i <= 5; i++) {
          if (i <= rating) {
              stars += '<i class="bi bi-star-fill"></i>';
          } else {
              stars += '<i class="bi bi-star"></i>';
          }
      }
      return stars;
  }

// Function to create the table with data from the Flask controller
function createTable(data, currentPage, perPage) {
  const mainReview = $('#card-service-professional');
  mainReview.empty();  // Clear the previous reviews

  data.forEach(professional => {
      // Create a card for each service professional
      const reviewCard = `
          <div class="col-lg-3 col-6">
            <div class="card">
              <div class="card-body">
                <div class="d-flex flex-column" style="height: 100px;">
                  <h5 class="card-title mb-1">${professional.username}</h5>
                  <p class="card-subtitle">Service ${professional.service}</p>
                  <p class="card-text custom-card-content">${professional.description}</p>
                </div>
                <div class="d-flex flex-row justify-content-between mt-2">
                  <a href="#" onclick="openReviewModal(${professional.id})" class="card-link">Detail</a>
                  <div>
                    ${generateStars(professional.experience || 0)}  <!-- Using experience for rating -->
                  </div>
                </div>
              </div>
            </div>
          </div>
      `;
      mainReview.append(reviewCard);
  });
}
  
    
    

    function createPaggination(totalPages, currentPage, totalData) {
      const paginationContainer = $('#main-pagination ul');
      paginationContainer.empty();
    
      const prevDisabled = currentPage === 1 ? 'disabled' : '';
      const prevPage = currentPage > 1 ? currentPage - 1 : 1;
      paginationContainer.append(`
        <li class="page-item ${prevDisabled}">
          <a class="page-link" href="#" onclick="loadDataTable(${prevPage})">Previous</a>
        </li>
      `);
    
      const firstPageActive = currentPage === 1 ? 'active' : '';
      paginationContainer.append(`
        <li class="page-item ${firstPageActive}">
          <a class="page-link" href="#" onclick="loadDataTable(1)">1</a>
        </li>
      `);
    
      if (currentPage > 3) {
        paginationContainer.append(`
          <li class="page-item disabled">
            <a class="page-link">...</a>
          </li>
        `);
      }
    
      const startPage = Math.max(2, currentPage - 1);
      const endPage = Math.min(totalPages - 1, currentPage + 1);
    
      for (let i = startPage; i <= endPage; i++) {
        const activeClass = i === currentPage ? 'active' : '';
        paginationContainer.append(`
          <li class="page-item ${activeClass}">
            <a class="page-link" href="#" onclick="loadDataTable(${i})">${i}</a>
          </li>
        `);
      }
    
      if (currentPage < totalPages - 2) {
        paginationContainer.append(`
          <li class="page-item disabled">
            <a class="page-link">...</a>
          </li>
        `);
      }
    
      if (totalPages > 1) {
        const lastPageActive = currentPage === totalPages ? 'active' : '';
        paginationContainer.append(`
          <li class="page-item ${lastPageActive}">
            <a class="page-link" href="#" onclick="loadDataTable(${totalPages})">${totalPages}</a>
          </li>
        `);
      }
    
      const nextDisabled = currentPage === totalPages ? 'disabled' : '';
      const nextPage = currentPage < totalPages ? currentPage + 1 : totalPages;
      paginationContainer.append(`
        <li class="page-item ${nextDisabled}">
          <a class="page-link" href="#" onclick="loadDataTable(${nextPage})">Next</a>
        </li>
      `);
    }

    
    
    function loadDataTable(page) {

      const perPage = 5;
      
      $.ajax({
        url: '/api/service-professionals-customer?page=' + page,
        method: 'GET',
        dataType: 'json',
        success: function (data) {
          createTable(data.data, page, perPage);
          createPaggination(data.total_pages, page, data.total_data);
        },
        error: function () {
        }
      })
    };
    
    loadDataTable(1);
  </script>
{% endblock %}
